html {
    font-size: 10px;
  }
@media (max-width: 1400px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 7px;
  }
}
